<div class="container mt-3">
  <h1><%= @cocktail.name.capitalize%></h1>
  <h4>Recipe</h4>
  <ul>
    <% @cocktail.doses.each do |dose|%>
      <li><%= dose.description %> of <%= dose.ingredient.name %></li>
    <% end %>
  </ul>

  <p><%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail) %></p>
  <p><%= link_to 'Back to list', cocktails_path %></p>

</div>
